# JS / Node
node_modules/
.next/
dist/
build/

# Env files
.env
.env.local
.env.*.local

# Go
apps/processor/bin/
apps/processor/gen/

# OS
.DS_Store

# IDE
.vscode/
.idea/

Neo4j-3ca605cb-Created-2026-05-04.txt